<main>
  <mat-card class="container">
  <div class="left">
    <img src="https://www.pngkey.com/png/full/157-1579943_no-profile-picture-round.png" width="200" height="200">
    <hr>
    <div class="info">
      <h1>დავით ხვედელიძე</h1>
      <h3>ოჯახის ექიმი</h3>
    </div>
    <hr>
    <div class="contact">
      <h1>phone: +(995) 555-140-042</h1>
      <h1>email: davit.khvedelidze.2@btu.edu.ge</h1>
      <h1>location: Tbilisi, Georgia</h1>
    </div>
  </div>
    <div class="right">
      <h1>პაციენტები</h1>
      <hr>
      <div class="users">
        <span><a>ლუკა წივილაშვილი</a><button (click)="navigate()">&#8594;</button></span>
        <span><a>ლუკა ჩაჩანიძე</a><button (click)="navigate()">&#8594;</button></span>
        <span><a>ანა მურცხრიკიძე</a><button (click)="navigate()">&#8594;</button></span>
        <span><a>ნუცა ვახტანგიშვილი</a><button (click)="navigate()">&#8594;</button></span>
        <span><a>ლუკა ლომიაშვილი</a><button (click)="navigate()">&#8594;</button></span>
        <span><a>დიტო მანელიდის</a><button (click)="navigate()">&#8594;</button></span>
      </div>
    </div>
  </mat-card>
</main>
